*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-size: 100%;
    font-weight: normal;
    vertical-align: baseline;
    font-family: sans-serif;
}

html{
    scroll-behavior: smooth;
}

a{
    color: black;
    text-decoration: none;
    font-family: sans-serif;
}

#logo{
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
}

#header{
    position: fixed;
    width: 100vw;
    height: 70px;
    padding: 1rem;
    padding-right: 36px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(70, 0, 116);
}

#header.active{
    box-shadow: 2px 2px 12px rgb(61, 0, 130);
}

#menu{
    display: flex;
    list-style: none;
    gap: .5rem;
}

#menu a{
    display: block;
    padding: .5rem;
    color: white;
    font-weight: bold;
}

#btn-mobile{
    display: none;
}

.apresentation{
    color: white;
    padding-top: 70px;
    height: 350px;
    background-image: url(assets/img/redes.webp);
    background-position: right;
    background-size: cover;
    background-attachment: fixed;
}

.apresentation div{
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.apresentation h2{
    margin-bottom: 30px;
    font-size: 2.5rem;
    font-weight: bolder;
}

.apresentation h3{
    font-weight: bold;
    font-size: 1.5rem;
    padding: 2px 0;
}

.apresentation{
    height: 320px;
}

.apresentation div{
    padding: 16px;
}

.apresentation h2{
    font-size: 1.6rem;
    font-weight: bolder;
}

.apresentation h3{
    font-weight: bold;
    font-size: 1.1rem;
}

.about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about img{
    width: calc(100vw - 20px);
}

.about-text{
    padding: 12px;
    margin-bottom: 26px;
    text-align: center;
}

.about p{
    line-height: 26px;
    text-align: left;
}

.about h2{
    padding: 20px 0;
    color: #7c00ce;
    font-size: 1.5rem;
    font-weight: bold;
}

@media(max-width: 600px){
    #menu{
        font-weight: bold;
        display: block;
        position: absolute;
        width: 100%;
        top: 70px;
        right: 0px;
        background-color: rgba(70, 0, 116);
        height: 0;
        transition: .6s;
        z-index: 1000;
        visibility: hidden;
        overflow-y: hidden;
    }

    #nav.active #menu{
        height: calc(100vh - 70px);
        visibility: visible;
        overflow-y: auto;
    }

    #menu a{
        text-align: center;
        color: white;
        font-weight: bold;
        padding: 1rem 0;
        margin: 0 1rem;
        border-bottom: 1px solid rgba(255, 255, 255, 0.456);
        transition: 0.2s;
    }

    #btn-mobile{
        display: flex;
        padding: .5rem 1rem;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: .5rem;
    }

    #hamburguer{
        display: block;
        border-top: 2px solid;
        width: 20px;
        color: white;
    }

    #hamburguer::after, #hamburguer::before{
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        background-color: currentColor;
        margin-top: 5px;
        transition: .5s;
        position: relative;
    }

    #nav.active #hamburguer{
        border-top-color: transparent;
    }

    #nav.active #hamburguer::before{
        transform: rotate(135deg);
    }

    #nav.active #hamburguer::after{
        transform: rotate(-135deg);
        top: -7px;
    }
}

.services{
    background: rgba(70, 0, 116, 0.981);
    color: rgba(255, 255, 255);
    display: flex;
    flex-direction: column; 
    align-items: center;
}

.services h2{
    padding-top: 26px;
    font-size: 1.5rem;
    font-weight: bold;
}

.services img{
    padding: 6px;
    width: calc(100vw - 20px);
}

.services p{
    padding: 6px 20px;
    font-size: 1rem;
}

.services div:not(:first-child){
    padding: 32px 0;
}

.services .divisor{
    display: block;
    height: 1px;
    width: 90vw;
    border-bottom: 1px solid rgb(255, 255, 255);
}

.contact-box-1 h2{
    color: #7c00ce;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 26px;
}

.contact-box-1{
    font-size: 1rem;
    text-align: center;
    padding: 10px;
}

.contact-box-1 div:last-child {
    padding: 26px 0;
    text-align: left;
}

.contact-box-1 a{
    text-decoration: none;
}

.mapa{
    margin-top: 5px;
    width: 100%;
    height: 50vh;
}

.icon-social-media{
    width: 40px;
}

.location-text{
    color: #7c00ce;
}

form{
    display: flex;
    flex-direction: column;
    padding: 36px;
}

form label{
    color: #7c00ce;
    font-weight: bold;
}

form input {
    padding: 2px;
    height: 30px;
    margin-bottom: 16px;
    border: 1px solid #7c00ce;
}

input:focus {
    border: 3px solid #7c00ce;
    outline: none;
}

form textarea{
    border: 1px solid #7c00ce;
    margin-bottom: 3px;
    box-sizing: border-box; 
    padding: 2px;
    height: 100px;
}

form textarea:focus{
    border: 3px solid #7c00ce;
    outline: none;
    box-sizing: border-box; 
}

form button{
    height: 50px;
    color: white;
    background-color: #651b97;
    cursor: pointer;
    transition: 0.2s;
}

form button:hover{
    background-color: #7c00ce;
}

footer{
    padding: 40px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    background: rgb(6, 6, 6);
    height: 6vh;
}