*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-size: 100%;
    font-weight: normal;
    vertical-align: baseline;
    font-family: sans-serif;
}

html{
    scroll-behavior: smooth;
}

a{
    color: black;
    text-decoration: none;
    font-family: sans-serif;
}

#logo{
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
}

#header{
    position: fixed;
    width: 100vw;
    height: 70px;
    padding: 1rem;
    padding-right: 36px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(70, 0, 116);
}

#header.active{
    box-shadow: 2px 2px 12px rgb(61, 0, 130);
}

#menu{
    display: flex;
    list-style: none;
    gap: .5rem;
}

#menu a{
    display: block;
    padding: .5rem;
    color: white;
    font-weight: bold;
}

#btn-mobile{
    display: none;
}

.apresentation{
    color: white;
    padding-top: 70px;
    height: 350px;
    background-image: url(assets/img/redes.webp);
    background-position: right;
    background-size: cover;
    background-attachment: fixed;
}

.apresentation div{
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.apresentation h2{
    margin-bottom: 30px;
    font-size: 2.5rem;
    font-weight: bolder;
}

.apresentation h3{
    font-weight: bold;
    font-size: 1.5rem;
    padding: 2px 0;
}

.apresentation{
    height: 320px;
}

.apresentation div{
    padding: 16px;
}

.apresentation h2{
    font-size: 1.6rem;
    font-weight: bolder;
}

.apresentation h3{
    font-weight: bold;
    font-size: 1.1rem;
}

.about{
    text-align: justify;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about img{
    width: calc(100vw - 20px);
    max-width: 500px;
}

.about-text{
    padding: 12px;
    margin-bottom: 26px;
    text-align: center;
}

.about p{
    line-height: 26px;
    text-align: justify;
}

.about h2{
    padding: 20px 0;
    color: #7C00EB;
    font-size: 1.5rem;
    font-weight: bold;
}

@media(max-width: 600px){
    #menu{
        font-weight: bold;
        display: block;
        position: absolute;
        width: 100%;
        top: 70px;
        right: 0px;
        background-color: rgba(70, 0, 116);
        height: 0;
        transition: .6s;
        z-index: 100;
        visibility: hidden;
        overflow-y: hidden;
    }

    #nav.active #menu{
        height: calc(100vh - 70px);
        visibility: visible;
        overflow-y: auto;
    }

    #menu a{
        text-align: center;
        color: white;
        font-weight: bold;
        padding: 1rem 0;
        margin: 0 1rem;
        border-bottom: 1px solid rgba(255, 255, 255, 0.456);
        transition: 0.2s;
    }

    #btn-mobile{
        display: flex;
        padding: .5rem 1rem;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: .5rem;
    }

    #hamburguer{
        display: block;
        border-top: 2px solid;
        width: 20px;
        color: white;
    }

    #hamburguer::after, #hamburguer::before{
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        background-color: currentColor;
        margin-top: 5px;
        transition: .5s;
        position: relative;
    }

    #nav.active #hamburguer{
        border-top-color: transparent;
    }

    #nav.active #hamburguer::before{
        transform: rotate(135deg);
    }

    #nav.active #hamburguer::after{
        transform: rotate(-135deg);
        top: -7px;
    }
}

.work-description{
    padding: 0px 0px 16px 0px ;
}

.services{
    background: rgba(70, 0, 116, 0.981);
    color: rgba(255, 255, 255);
    display: flex;
    flex-direction: column; 
    align-items: center;
}

.services h2{
    padding: 26px;
    font-size: 1.5rem;
    font-weight: bold;
}

.services img{
    padding: 6px;
    width: calc(90vw - 20px);
    max-width: 750px;
    border-radius: 8px;
}

.services p{
    padding: 6px 20px;
    font-size: 1rem;
}

.service{
    margin-bottom: 10px;
}

.contact-box-1 h2{
    color: #7C00EB;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 26px;
}

.contact-box-1{
    font-size: 1rem;
    text-align: center;
    padding: 10px;
}

.contact-box-1 div:last-child {
    text-align: left;
}

.contact-box-1 a{
    text-decoration: none;
}

.mapa{
    margin-top: 5px;
    width: 100%;
    height: 50vh;
}

.icon-social-media{
    width: 50px;
}

iframe{
    margin-bottom: 16px;
}

.location-text{
    text-align: left;
    color: #7C00EB;
    margin-top: 16px;
}

.social-media{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social-media h2{
    font-size: 1.2rem;
}

.social-media span{
    font-weight: bold;
    color: #651b97;
}

.social-media h2{
    padding: 8px;
}

.social-media div{
    padding: 0;
}

.social-media img{
    padding: 10px;
    transition: .3s;
    border-radius: 30%;
}

.social-media img{
    background-color: #bd74ed;
}

.social-media img:hover{
    background-color: #7C00EB;
}

form{
    display: flex;
    flex-direction: column;
    padding: 36px;
    padding-top: 0;
}

form div{
    display: flex;
    flex-direction: column;
    padding-top: 0;
    color: #7C00EB;
    font-weight: bold;
    padding: 4px;
}

form input {
    padding: 2px;
    height: 30px;
    border: 1px solid #7C00EB;
}

input:focus {
    border: 3px solid #7C00EB;
    outline: none;
}

form textarea{
    border: 1px solid #7C00EB;
    margin-bottom: 3px;
    box-sizing: border-box; 
    padding: 2px;
    height: 100px;
}

form textarea:focus{
    border: 3px solid #7C00EB ;
    outline: none;
    box-sizing: border-box; 
}

form button{
    height: 50px;
    width: calc(100% - 8px);
    color: white;
    background-color: #651b97;
    cursor: pointer;
    transition: 0.2s;
    margin-left: 4px;
}

form button:hover{
    background-color: #7C00EB;
}

footer{
    padding: 40px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    background: rgb(6, 6, 6);
    height: 6vh;
}

@media(min-width: 900px){
    .about{
        padding: 50px;
    }

    .about img{
        min-width: 700px;
    }

    .contact-box-1{
        max-width: 500px;
    }

    .contact-box-2{
        max-width: 460px;
    }

    .contact-box-2 form{
        padding: 10px;
    }

    .contact{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    footer{
        margin-top: 32px;
    }
}

@media(min-width: 1280px){
    .about{
      padding: 100px;
      display: flex;  
      flex-direction: row;
      justify-content: space-around;

    }

    .about img{
        min-width: 600px;
    }

    .about-text{
        max-width: 600px;
    }

    .about-text p{
        min-width: 500px;
    }

    .imgs-services{
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* Duas colunas com largura igual */
        grid-gap: 20px; /* Espaçamento entre as células */
        padding: 20px; /* Espaçamento interno para melhor visualização */ 
    }

    .imgs-services img{
        max-width: 600px;
    }

    .contact-box-1{
        max-width: 760px;
    }

    .contact-box-2{
        max-width: 720px;
    }
}


.service{
    box-shadow: inset 0px 0px 5px 1px #8e0ee3;
    border-radius: 8px;
}


#menu li{
    border: 2px solid #e700eb00;
    transition: 0.3s;
    border-radius: 4px;
}

#menu li:hover{
    background: #E900EB ;
    border: 2px solid #fb00ff;
}

.error{
    display: none;
    color: red;
    font-size: smaller;
}

.c-loader {
    animation: is-rotating 1s infinite;
    border: 6px solid #e5e5e5;
    border-radius: 50%;
    border-top-color: #fb00ff;
    height: 50px;
    width: 50px;
  }
  
  @keyframes is-rotating {
    to {
      transform: rotate(1turn);
    }
  }

.form-loading, .form-enviado{
    background-color: rgba(255, 255, 255, 0.973);
    width: 100%;
    height: 100%;
    display: flex;
    align-self: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0px;
    display: none;
}

.form-loading.active{
    display: flex;
}

.form-enviado.active{
    display: flex;
}

.fechar-janela{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0);
}

.btn-fechar{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.btn-fechar img{
    cursor: pointer;
}